<div class="jumbotron">
   <div class="panel panel-default">
      <div class="panel-heading-colored">
         <div class="panel-heading" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="panel-heading-value" ng-if="!editMode">{{data.name}}</span>
            <input type="text" ng-if="editMode" ng-model="data.name">
            <span class="pull-right glyphicon glyphicon-remove" ng-if="!hideEditRemoveButtons && !editMode" ng-click="removeTodoList()">
            </span>
            <span class="pull-right glyphicon glyphicon-pencil" ng-if="!hideEditRemoveButtons && !editMode" ng-click="editTodoList()">
            </span>
            <span class="pull-right glyphicon glyphicon-floppy-save" ng-if="editMode" ng-click="updateTodoListName()">
            </span> 
         </div>
      </div>
   </div>
   <div class="panel-body">
      <div class="text-center error-message" ng-show="newTodoListForm.$dirty && newTodoListForm.todoValue.$error.minlength">Minimum length required is 3</div>
      <form role="form" ng-submit="addTodoToList()" name="newTodoListForm">
         <p class="input-group">
            <span class="input-group-addon glyphicon glyphicon-plus greenPlus" ng-click="addTodoToList()"></span>
            <input type="text" ng-model="todo" placeholder="Start typing here to create a task..." class="form-control" name="todoValue" ng-minlength="3" required>
            <span class="input-group-btn">
            <input type="submit" class="btn btn-success" value="Add Task">
            </span>
         </p>
      </form>
      <todo data="todo" todo-list-name="data.name" ng-repeat="todo in data.todos track by $index"></todo>
   </div>
</div>